* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas {
  background : #000;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
}

#loading {
  background: #000;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

#loading.hidden {
  display: none;
}

#loading-img {
  display: block;
  max-width: 100px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#ui {
  position: absolute;
  z-index: 3;
}

button {
  padding: 5px;
}

